body {
  background: url(../../assets/img/light_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-size: cover;
  font-family: 'Montserrat';
}

@media (max-width: 767px) {
  body {
    background: url(../../assets/img/mobile_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-size: cover;
    font-family: 'Montserrat';
  }
}

.white-background {
  background: white;
}

.btn.btn-primary {
  background: #f8b607;
  border-radius: 32px;
  border-color: rgba(255,255,255,0);
  color: black;
  width: 170px;
}

#logo-landscape {
  max-width: 220px;
  display: inline-block;
}

.nav-item {
  padding-right: 10px;
  margin: auto;
}

.homepage-navbar, .login-signup-navbar {
  background-color: #1686AB;
}

@media (max-width: 767px) {
  .homepage-navbar {
    display: none;
  }
}

#home-logo-standard {
  max-width: 300px;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 767px) {
  #home-logo-standard {
    margin-top: 15%;
  }
}

#home-buttons-mobile {
  display: none;
}

@media (max-width: 767px) {
  #home-buttons-mobile {
    display: block;
    margin-top: 30%;
  }
}

#home-buttons-mobile button {
  display: block;
  margin: 0 auto;
  margin-bottom: 8%;
}

#home-info-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  color: white;
  font-size: 24px;
}

@media (max-width: 767px) {
  #home-info-text {
    display: none;
  }
}

#guest-button {
  margin: auto;
  display: block;
  box-shadow: 0px 8px 10px rgb(0,94,198);
}

@media (max-width: 767px) {
  #guest-button {
    display: none;
  }
}

.navbar-button-container svg {
  display: none;
}

@media (max-width: 767px) {
  .navbar-button-container svg {
    display: block;
  }
}

@media (max-width: 767px) {
  .navbar-button-container button {
    display: none;
  }
}

.onboarding-bubble {
  width: 60%;
  height: 600px;
  background-color: #DDDD;
  opacity: 80%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

@media (max-width: 767px) {
  .onboarding-bubble {
    background-color: transparent;
  }
}

.login-heading {
  font-size: 32px;
  text-align: center;
  padding-top: 22px;
  color: black;
}

@media (max-width: 767px) {
  .login-heading {
    display: none;
  }
}

.btn.btn-primary.altAuthButtons {
  margin: auto;
  display: block;
  font-size: 20px;
  color: white;
  margin-top: 40px;
  border-radius: 9px;
}

#googleButton {
  margin-top: 51px;
  background-color: #5796ff;
  background-image: url(../../assets/img/google.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

#facebookButton {
  background-color: #3B5998;
  background-image: url(../../assets/img/facebook-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

#microsoftButton {
  background-color: #962EFC;
  background-image: url(../../assets/img/microsoft-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

#emailButton {
  background-color: gray;
}

.dividing-line {
  width: 40%;
  background-color: black;
  margin: auto;
  margin-top: 50px;
}

.login-form {
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  position: relative;
}

@media (max-width: 767px) {
  .login-form {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 110%;
  }
}

.onboarding-subheading {
  padding-top: 10px;
  font-size: 20px;
}

.login-signup-fields {
  border-radius: 10px;
  border: black 1px;
}

.btn.btn-primary.login-signup-button {
  margin: auto;
  display: block;
  margin-top: 170px;
  font-size: 20px;
}

#loginErrorDiv {
  margin: auto;
  padding-top: 10px;
  width: auto;
  height: 20px;
}

#signupErrorDiv {
  margin: auto;
  padding-top: 10px;
  width: auto;
  height: 20px;
}

#camera-detection-button {
  margin: auto;
  display: block;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: initial;
}

.skin-tone-option-row {
  margin: auto;
  display: table;
  background: #2797bc;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.skin-tone-image {
  width: 15%;
  margin: 10px;
}

.skin-tone-text-heading {
  color: white;
  font-size: 24px;
  margin: 0px;
}

.skin-tone-text {
  color: white;
}

.skin-tone-container {
  margin: 10px;
}

#skin-tone-sample {
  width: 100%;
  height: 100px;
  margin: auto;
}

#getUserDetailsTest {
  margin: auto;
  display: block;
  margin-top: 10%;
}

#welcomeBanner {
  text-align: center;
}

#logoutTest {
  margin: auto;
  display: block;
  margin-top: 10%;
}

.mobile-menu {
  cursor: pointer;
}

#menu-fragment {
  background: #2797bc;
  display: none;
  text-align: center;
}

.mobile-menu-button {
  margin: 8px;
}

#menu-button-container {
  display: inline-grid;
}

#profile-image {
  max-width: 60px;
  cursor: pointer;
}

@media (max-width: 767px) {
  #profile-image {
    max-width: 60px;
    display: none;
  }
}

.navigation-buttons-container {
  margin: auto;
  text-align: center;
}

#previous-button {
  margin-right: 15px;
  background-color: white;
  border-color: #f8b607;
  border-width: 2px;
  margin: 10px;
}

#next-button {
  margin: 10px;
  border-style: solid;
  border-color: #f8b607;
  border-width: 2px;
}

/* Flynn's Code */

.tool-figure {
  position: relative;
  margin-left: -120px;
  left: 50%;
  margin-right: auto;
}

.tool-figure-layer {
  position: absolute;
  margin-left: -120px;
  left: 50%;
  margin-right: auto;
}

.div-center {
  text-align: center;
  margin-top: 10px;
}

.progress-container {
  margin-top: 20px;
  display: inline-flex;
  text-align: right;
  position: relative;
  width: 100%;
  right: 2%;
  justify-content: flex-end;
}

.progress-heading {
  font-size: 24px;
}

.progressBar {
  right: 20px;
  height: 60px;
  width: 60px;
  position: relative;
}

.progressBar .innerCircle {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 54px;
  width: 54px;
  margin: -27px 0 0 -27px;
  background: #ffffff;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.progressBar .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #dde6f0;
  -webkit-border-radius: 100%;
  clip: rect(0px, 60px, 60px, 30px);
}

.circle .bar .progressCircle {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f8b607;
  -webkit-border-radius: 100%;
  clip: rect(0px, 30px, 60px, 0px);
}

.circle .left .progressCircle {
  z-index: 1;
  animation: left 0.4s linear both;
}

@keyframes left {
  100% {
    transform: rotate(72deg);
  }
}

.circle .left .progressCircle2 {
  z-index: 1;
  animation: left2 0.8s linear both;
}

@keyframes left2 {
  100% {
    transform: rotate(144deg);
  }
}

.circle .left .progressCircle3 {
  z-index: 1;
  animation: left3 1s linear both;
}

@keyframes left3 {
  100% {
    transform: rotate(180deg);
  }
}

.circle .left .progressCircle4 {
  z-index: 1;
  animation: left4 1s linear both;
}

@keyframes left4 {
  100% {
    transform: rotate(180deg);
  }
}

.circle .left .progressCircle5 {
  z-index: 1;
  animation: left5 1s linear both;
}

@keyframes left5 {
  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right .progressCircle3 {
  z-index: 3;
  animation: right3 0.2s linear both;
  animation-delay: 1s;
}

@keyframes right3 {
  100% {
    transform: rotate(36deg);
  }
}

.circle .right .progressCircle4 {
  z-index: 3;
  animation: right4 0.6s linear both;
  animation-delay: 1s;
}

@keyframes right4 {
  100% {
    transform: rotate(108deg);
  }
}

.circle .right .progressCircle5 {
  z-index: 3;
  animation: right5 1s linear both;
  animation-delay: 1s;
}

@keyframes right5 {
  100% {
    transform: rotate(180deg);
  }
}

.progressBar .toolStep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  font-size: 11px;
}

#weather_display {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn.exposure-btn {
  background: #f8b607;
  border-radius: 32px;
  border-color: rgba(255,255,255,0);
  color: black;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;
  font-size: 24px;
}

.time-data {
  background: #1686AB;
  width: 50%;
  border-radius: 25px;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .time-data {
    width: 90%;
    border-radius: 10px;
  }
}

.form-center {
  position: relative;
  max-width: 65%;
  margin: auto;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .form-center {
    position: relative;
    max-width: 90%;
    margin: auto;
    padding-top: 30px;
  }
}

.time-input {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 5%;
}

.minutes-exposure-heading {
  text-align: left;
}

.result-overall {
  height: 200px;
  width: 200px;
  background-color: #f8b607;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
}

.letter-grade {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 144px;
  font-weight: bold;
  color: #ffffff;
}

.profile-bubble {
  height: 600px;
  background-color: #DDDD;
  opacity: 80%;
  border-radius: 20px;
  width: 40%;
  margin: auto;
  margin-top: 5%;
}

@media (max-width: 767px) {
  .profile-bubble {
    width: 90%;
  }
}

#my-profile-heading {
  font-size: 28px;
  margin-left: 30px;
  padding-top: 20px;
}

@media (max-width: 767px) {
  #my-profile-heading {
    margin-left: 15px;
  }
}

#profile-hr {
  max-width: 90%;
  margin: auto;
  margin-top: 25px;
  border-top: 1px solid #000000;
}

#my-profile-subheading {
  font-size: 22px;
  margin-left: 30px;
  padding-top: 20px;
}

.profile-subsection-heading {
  margin-left: 30px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.profile-input-fields {
  width: 80%;
  border-radius: 10px;
  margin-left: 30px;
}

.profile-buttons {
  margin: auto;
  display: block;
  margin-top: 20px;
}

#account-settings-button {
  margin-top: 140px;
}

.results-head {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.results-container {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 20px;
  margin-bottom: 10%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #9fa8b0;
  border-radius: 30px;
}

.results_table {
  margin: 10px auto;
  text-align: left;
  width: 80%;
}

@media (max-width: 767px) {
  .results_table {
    margin: 5%;
    text-align: left;
    width: 90%;
  }
}

#output {
  display: none;
}

.dietary-bubble {
  background-color: #1686AB;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .dietary-bubble {
    width: 95%;
  }
}

.dietary_form {
  width: 100%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.dietary-top-input-fields {
  width: 60%;
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  height: 50px;
}

.dietary-bottom-input-fields {
  width: 60%;
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  height: 50px;
}

@media (max-width: 767px) {
  .dietary-top-input-fields {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .dietary-bottom-input-fields {
    width: 90%;
  }
}

.dietary-top-input-fields {
  margin-bottom: 5%;
}

.dietary-add-button {
  height: 40px;
  width: 40px;
  background-color: #f8b607;
  border-radius: 50%;
  margin-top: -1px;
  margin-left: 20.5%;
}

@media (max-width: 767px) {
  .dietary-add-button {
    margin-left: 3%;
  }
}

.supplement-main-heading {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 30px;
}

.supplement-yes-no-div {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}

.tick-icon {
  margin: auto;
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
}

.supplement-yes-no-parent-div {
  margin: auto;
  text-align: center;
}

.supplement-form {
  background-color: #1686ab;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .supplement-form {
    width: 95%;
  }
}

.supplement-sub-heading {
  margin-left: 20%;
  padding-top: 20px;
  font-size: 20px;
  color: white;
  display: inline-block;
}

@media (max-width: 767px) {
  .supplement-sub-heading {
    margin-left: 5%;
  }
}

.supplement-input-fields {
  width: 60%;
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  height: 50px;
  display: block;
}

@media (max-width: 767px) {
  .supplement-input-fields {
    width: 90%;
  }
}

#last-supplement-input-fields {
  margin-top: 20px;
}

.dietary-remove-button {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #f8b607;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: 28%;
}

@media (max-width: 767px) {
  .dietary-remove-button {
    margin-left: 17%;
  }
}

#age-bubble {
  background-color: #1686ab;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #age-bubble {
    width: 95%;
  }
}

.age_Form {
  width: 100%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

#age_Input_Field {
  width: 60%;
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  height: 50px;
}

@media (max-width: 767px) {
  #age_Input_Field {
    width: 90%;
  }
}

#vitD_supplement-no:hover {
  background-color: #FF0000;
}

#bone_supplement-no:hover {
  background-color: #FF0000;
}

#multVit_supplement-no:hover {
  background-color: #FF0000;
}

#vitD_supplement-yes:hover {
  background-color: #61AB0E;
}

#bone_supplement-yes:hover {
  background-color: #61AB0E;
}

#multVit_supplement-yes:hover {
  background-color: #61AB0E;
}

.supplement-yes-no-div {
  background-color: #DDDD;
}

.loader {
  border: 6px solid #ffffff;
  border-radius: 50%;
  border-top: 6px solid #f8b607;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-left: -20px;
  left: 50%;
  margin-top: 50px;
  position: absolute;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user-home-bubble {
  width: 80%;
  max-width: 1000px;
  background: #b4b4b4;
  margin: auto;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .user-home-bubble {
    width: 95%;
  }
}

.user-home-intro {
  margin: auto;
  text-align: center;
  width: 90%;
}

.user-home-heading {
  font-weight: bold;
  font-size: 32px;
  padding-top: 20px;
}

.user-home-intro-subtext {
  padding-top: 30px;
  color: #7d8285;
  padding-bottom: 30px;
  text-align: center;
}

.dietary-remove-button-new {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #f8b607;
  border-radius: 50%;
  margin-left: 90%;
}

#next-button:hover {
  background-color: #efaf34;
  color: #ffffff;
  border-color: #efaf34;
}

#previous-button:hover {
  background-color: #ffeec7;
  color: var(--bs-dark);
  border-color: #ffeec7;
}

.dietary-add-button:hover {
  background-color: #efaf34;
}

.dietary-remove-button:hover {
  background-color: #ffeec7;
}

.skin-tone-option-row:hover {
  background-color: #1289b0;
}

#camera-detection-button:hover {
  background-color: #efaf34;
  color: #ffffff;
  border-color: #efaf34;
}

.exposure-btn:hover {
  background-color: #efaf34;
}

#supplement-input-fields-one {
  margin-top: 20px;
}

#supplement-input-fields-two {
  margin-top: 20px;
}

#supplement-input-fields-three {
  margin-top: 20px;
}

.current-location-button {
  background: #f8b607;
  border-radius: 32px;
  border-color: rgba(255,255,255,0);
  color: black;
  width: 200px;
}

.location-heading {
  padding-top: 20px;
  color: white;
  font-size: 28px;
}

.location-bubble {
  background-color: #1686ab;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

@media (max-width: 767px) {
  .location-bubble {
    width: 90%;
  }
}

.location-button {
  margin: 5px;
}

.weather_img {
  height: 100px;
  width: 100px;
  padding: 10px;
}

@media (max-width: 767px) {
  .weather_img {
    object-fit: contain;
    max-width: 100%;
  }
}

.dietary-table {
  max-width: 90%;
  margin: auto;
  text-align: center;
  color: white;
}

.dietary-table-inputs {
  border-radius: 10px;
  border: 1px solid black;
}

