.nav-item {
  padding-right: 10px;
  margin: auto;
}

#logo-landscape {
  max-width: 220px;
  display: inline-block;
}

.btn.btn-primary {
  background: #f8b607;
  border-radius: 32px;
  width: 100px;
  border-color: rgba(255,255,255,0);
}

@media (max-width: 767px) {
  .navbar.navbar-light.navbar-expand-md.login-signup-navbar {
    background-color: #1686AB;
  }
}

.navbar.navbar-light.navbar-expand-md.login-signup-navbar {
  background-color: #1686AB;
}

@media (max-width: 767px) {
  .navbar.navbar-light.navbar-expand-md.homepage-navbar {
    background-color: #1686AB;
    display: none;
  }
}

.navbar.navbar-light.navbar-expand-md.homepage-navbar {
  background-color: #1686AB;
}

.btn.btn-primary {
  color: black;
  width: 170px;
}

.btn-primary:hover {
  color: #000000;
  background-color: #fec01d;
  border-color: #fec01d;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}

body {
  background: url(../../assets/img/mobile_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-size: cover;
  font-family: 'Montserrat';
}

@media (min-width: 767px) {
  body {
    background: url(../../assets/img/light_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-size: cover;
    font-family: 'Montserrat';
  }
}

#home-logo-standard {
  max-width: 300px;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 767px) {
  #home-logo-standard {
    display: block;
    margin-top: 15%;
  }
}

#home-info-text {
  display: none;
}

@media (min-width: 767px) {
  #home-info-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 24px;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f8b607;
  border-color: #f8b607;
}

@media (max-width: 767px) {
  #home-buttons-mobile {
    margin-top: 30%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #home-buttons-mobile button {
    display: block;
    margin: 0 auto;
    margin-bottom: 8%;
  }
}

@media (min-width: 767px) {
  #home-buttons-mobile {
    display: none;
  }
}

.navbar-toggler.nav-toggler-login-signup {
  display: none;
}

.onboarding-bubble {
  width: 60%;
  height: 600px;
  background-color: #DDDD;
  opacity: 80%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

@media (max-width: 767px) {
  .onboarding-bubble {
    background-color: transparent;
  }
}

.login-heading {
  font-size: 32px;
  text-align: center;
  padding-top: 22px;
  color: black;
}

@media (max-width: 767px) {
  .login-heading {
    display: none;
  }
}

.login-form {
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

@media (max-width: 767px) {
  .login-form {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 110%;
  }
}

.login-signup-fields {
  border-radius: 10px;
  border: black 1px;
}

.onboarding-subheading {
  padding-top: 10px;
  font-size: 20px;
}

.btn.btn-primary.login-signup-button {
  margin: auto;
  display: block;
  margin-top: 170px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .btn.btn-primary.login-signup-button {
    margin: auto;
    display: block;
    margin-top: 70%;
    font-size: 20px;
  }
}

.login-form-mobile {
  display: none;
}

@media (max-width: 767px) {
  .login-form-mobile {
    margin: auto;
    margin-top: 100px;
    width: 70%;
    display: block;
  }
}

#loginErrorDiv {
  margin: auto;
  padding-top: 10px;
  width: auto;
  height: 20px;
}

#signupErrorDiv {
  margin: auto;
  padding-top: 10px;
  width: auto;
  height: 20px;
}

.nav-item.profile-image-nav {
  display: flex;
  flex-wrap: wrap;
}

.profile-image {
  max-width: 100px;
  max-height: 70px;
  margin-left: 10px;
}

#googleButton {
  margin-top: 51px;
  background-color: #5796ff;
  background-image: url(../../assets/img/google.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

#facebookButton {
  background-color: #3B5998;
  background-image: url(../../assets/img/facebook-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

#microsoftButton {
  background-color: #962EFC;
  background-image: url(../../assets/img/microsoft-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

#emailButton {
  background-color: gray;
}

.btn.btn-primary.altAuthButtons {
  margin: auto;
  display: block;
  font-size: 20px;
  color: white;
  margin-top: 40px;
}

.dividing-line {
  width: 40%;
  background: black;
  margin-top: 50px;
}

#guest-button {
  display: none;
}

@media (min-width: 767px) {
  #guest-button {
    margin: auto;
    display: block;
    box-shadow: 0px 8px 10px rgb(0,94,198);
  }
}

